<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

	<!--在 Spring中开启aop支持-->
	<aop:aspectj-autoproxy/>

	<bean id="testBean" class="com.gqzdev.aop.TestBean"/>
	<bean id="aspectJTest" class="com.gqzdev.aop.AspectJTest"/>
</beans>