<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!--spring 管理的bean的路径-->
    <context:component-scan base-package="com.gqzdev.ioc"></context:component-scan>

    <!-- User无参构造器 -->
    <bean id="user" class="com.gqzdev.ioc.xml.User"/>

    <!--Order有参构造器-->
    <bean id="order" class="com.gqzdev.ioc.xml.Order">
        <constructor-arg index="0" value="202008121706"/>
        <constructor-arg index="1" value="10000"/>
    </bean>


    <!--BookService-->
    <bean id="bookService" class="com.gqzdev.analysis.BookServiceImpl"></bean>

    <!--PressService-->
    <bean id="pressService" class="com.gqzdev.analysis.PressServiceImpl">
        <!--设置依赖关系：pressService依赖pressService-->
        <property name="bookService" ref="bookService"></property>
    </bean>
</beans>