<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="car" class="com.gqzdev.ioc.factorybean.Car"/>


	<bean id="carFactoryBean" class="com.gqzdev.ioc.factorybean.CarFactoryBean">
		<property name="carInfo" value="法拉利跑车,420,2600000"/>
	</bean>

</beans>