<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--测试lookup-method ，获取器注入-->
	<!--
		LoudSpeak是抽象类，通过其方法返回对象
	-->
	<bean id="loudSpeaker" class="com.gqzdev.ioc.parsebeandefinition.lookupmethod.LoudSpeaker">
		<lookup-method name="getUser" bean="student"/>
		<!--可以很方便切换，需要获取的user-->

	</bean>
	<bean id="teacher"  class="com.gqzdev.ioc.parsebeandefinition.lookupmethod.Teacher"/>
	<bean id="student" class="com.gqzdev.ioc.parsebeandefinition.lookupmethod.Student"/>


	<!--测试replaced-method ，替换方法-->
	<bean id="changeMethod" class="com.gqzdev.ioc.parsebeandefinition.placedmethod.ChangeMethod" >
		<!--
			使用replaced-method标签  name指定方法名  replacer指定替换后的bean（该bean需要实现一个 MethodReplacer）
			动态替换 changeMe 方法-->
		<replaced-method name="changeMe" replacer="replacer"/>
	</bean>
	<bean id="replacer" class="com.gqzdev.ioc.parsebeandefinition.placedmethod.ChangeMethodReplacer"/>

	<!--constructor-arg  构造器注入  通过index指定参数顺序-->
	<bean id="user01" class="com.gqzdev.ioc.bean.User">
		<constructor-arg index="0" value="2020102" />
		<constructor-arg index="1" value="阿中"/>
		<constructor-arg index="2" value="***"/>
		<constructor-arg index="3" value="15571398101"/>
		<constructor-arg index="4" value="中国"/>
	</bean>
</beans>