<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="changeMethod" class="com.gqzdev.ioc.parsebeandefinition.parsereplacedmethod.ChangeMethod" >
		<!--
			使用replaced-method标签  name指定方法名  replacer指定替换后的bean（该bean需要实现一个 MethodReplacer）
			动态替换 changeMe 方法-->
		<replaced-method name="changeMe" replacer="replacer"/>

	</bean>

	<bean id="replacer" class="com.gqzdev.ioc.parsebeandefinition.parsereplacedmethod.ChangeMethodReplacer"/>

</beans>